[submodule "components/ESP32-RevK"]
	path = components/ESP32-RevK
	url = https://github.com/revk/ESP32-RevK
[submodule "ftdizap"]
	path = ftdizap
	url = https://github.com/revk/ftdizap
	branch = main
[submodule "components/ESP32-VL53L0X"]
	path = components/ESP32-VL53L0X
	url = https://github.com/revk/ESP32-VL53L0X
[submodule "PCBCase"]
	path = PCBCase
	url = https://github.com/revk/PCBCase
[submodule "components/ESP32-VL53L1X"]
	path = components/ESP32-VL53L1X
	url = https://github.com/revk/ESP32-VL53L1X
	branch = main
[submodule "components/ESP32-epaper"]
	path = components/ESP32-epaper
	url = https://github.com/revk/ESP32-epaper
[submodule "components/QR"]
	path = components/QR
	url = https://github.com/revk/QR
[submodule "components/Reedsol"]
	path = components/Reedsol
	url = https://github.com/revk/Reedsol
