[submodule "components/ESP32-RevK"]
	path = components/ESP32-RevK
	url = https://github.com/revk/ESP32-RevK
[submodule "ftdizap"]
	path = ftdizap
	url = https://github.com/revk/ftdizap
	branch = main
[submodule "components/ESP32-VL53L0X"]
	path = components/ESP32-VL53L0X
	url = https://github.com/revk/ESP32-VL53L0X
