[submodule "components/ESP32-RevK"]
	path = components/ESP32-RevK
	url = https://codeberg.org/RevK/ESP32-RevK
[submodule "ftdizap"]
	path = ftdizap
	url = https://github.com/revk/ftdizap
	branch = main
[submodule "components/ESP32-VL53L0X"]
	path = components/ESP32-VL53L0X
	url = https://github.com/revk/ESP32-VL53L0X
[submodule "components/ESP32-VL53L1X"]
	path = components/ESP32-VL53L1X
	url = https://github.com/revk/ESP32-VL53L1X
	branch = main
[submodule "components/QR"]
	path = components/QR
	url = https://github.com/revk/QR
[submodule "components/ESP32-GFX"]
	path = components/ESP32-GFX
	url = https://codeberg.org/RevK/ESP32-GFX
[submodule "PCB/PCBCase"]
	path = PCB/PCBCase
	url = https://codeberg.org/RevK/PCBCase
